@using AppAplicantsBAL.Models;
@model AppAplicantsBAL.Models.ApplicantView

<html>
<head>
    <title>Index</title>

    <link href="/Content/Site.css" rel="stylesheet" />
    <!-- Libs -->
    <script src="/Scripts/jquery-1.7.1.js"></script>

    <script type="text/jscript">

        $(function () {
            $("#save_File_Upload").click(function () {
                $("form").attr("action", "/Applicants/Save_Photo");
            });

            $("#salir").click(function () {
                $("form").attr("action", "/Applicants/Exit");
            });
        });

        $(document).ready(function () {
            $('#btnUpload').click(function () {
                // Checking whether FormData is available in browser  
                if (window.FormData !== undefined) {
                    var fileUpload = $("#txtUpload").get(0);
                    var files = fileUpload.files;

                    var fileName = "";
                    var size = 0;
                    var typeFile = "";

                    // Create FormData object  
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object  
                    for (var i = 0; i < files.length; i++) {
                        //fileData.append(files[i].name, files[i]);  
                        fileName = files[i].name;
                        size = files[i].size;
                        typeFile = files[i].type;
                    }

                    if (size > 1 && size <= 1024000 && (typeFile == "image/png" || typeFile == "image/gif" || typeFile == "image/jpeg")) {
                        var formData = new FormData();
                        var totalFiles = document.getElementById("txtUpload").files.length;

                        for (var i = 0; i < totalFiles; i++) {
                            var file = document.getElementById("txtUpload").files[i];
                            formData.append("txtUpload", file);
                        }
                        $.ajax({
                            type: "POST",
                            url: '/Applicants/Upload_Photo_Applicant',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                alert('succes!!');
                            },
                            error: function (error) {
                                alert("errror");
                            }
                        });
                    } else {
                        if (!(size > 1 && size <= 1024000)) {
                            alert('file size must be less than 1 MB.');
                        }
                        else {
                            alert('Please upload .jpg or .png or .gif file of notice.');
                        }
                    }

                } else {
                    alert("FormData is not supported.");
                }
            });
        });

    </script>
</head>
<body>
    @{
        ApplicantView applicant = new ApplicantView();
        applicant = TempData["ModelApplicant"] as ApplicantView;

        AppApplicants.Models.Files_Adjunt reportFiles_Adjunt = new AppApplicants.Models.Files_Adjunt();
        IEnumerable<AppApplicants.Models.Files_Adjunt> lstReportFiles_Adjunt = TempData["ReportFiles_Adjunt"] as IEnumerable<AppApplicants.Models.Files_Adjunt>;

            
        <div class="div_left" >
            @foreach (AppApplicants.Models.Files_Adjunt item in lstReportFiles_Adjunt)
            { 
                <img src="~/Files/@item" width="300" height="300" class="img-photo" alt="Cinque Terre" />
            }
        </div>        
    }

    <div>

        @using (Html.BeginForm())
        {   
            <label for="txtUpload">Required, images files only:</label>
            <input type="text" name="txtFile_Adjunt" id="file_Adjunt" value="File Adjunt: " />
            <input type="file" id="txtUpload" name="Upload" />
            <input type="button" value="Upload" id="btnUpload" />
        }

    </div>
</body>
</html>
